
.country-section.germany-theme {

    background-image: url('../img/Sobor.jfif'); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    min-height: 100vh;           
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    position: relative;
    overflow: hidden;
    justify-content: flex-start !important; 
    padding-top: 50px;
    padding-bottom: 60px;
}


.country-section.germany-theme::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    background: rgba(10, 10, 10, 0.85); 
    z-index: 0;
}


.country-section.germany-theme * {
    position: relative;
    z-index: 1;
}


.germany-theme h2 {
    color: #C0C0C0; 
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3); 
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    border-bottom: 3px solid #E53935; 
    padding-bottom: 5px;
}

.germany-theme p {
    color: #B0B0B0;
    font-size: 1.1rem;
}


.germany-theme .brand-card {
    position: relative; 
    overflow: hidden;
    cursor: pointer;
    background-color: transparent; 
    border: none;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(229, 57, 53, 0.2); 
    text-align: left; 
    height: 250px; 
}

/* Ефект при наведенні */
.germany-theme .brand-card:hover {
    transform: scale(1.03); 
    box-shadow: 0 5px 20px rgba(192, 192, 192, 0.5); 
    outline: 2px solid #E53935; 
    outline-offset: -2px; 
}


.germany-theme .brand-card img {
    height: 100%; 
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}


.germany-theme .brand-card .card-body {
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
   
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4), transparent);
    
    z-index: 5;
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px;
}

.germany-theme .brand-card .card-title {
    color: #E53935; 
    font-weight: bold;
    text-shadow: 0 0 5px #E53935; 
    margin-bottom: 5px;
    line-height: 1.2;
}
.germany-theme .brand-card .card-text {
    color: #C0C0C0; 
    font-size: 0.9rem;
}


.country-section.germany-theme .country-btn {
    background-color: #E53935; 
    color: white; 
    border: 2px solid #E53935;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(229, 57, 53, 0.5);
    transition: all 0.3s ease;
}

.country-section.germany-theme .country-btn:hover {
    background-color: #B71C1C; 
    border-color: #B71C1C;
}